<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>App - Login</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>App<span>.</span></h1>
            <p>Seu Personal Inteligente</p>
            
            <form method="POST">
                <label>Usuário</label>
                <input type="email" name="usuario" placeholder="Seu e-mail" required>
                
                <label>Senha</label>
                <input type="password" name="senha" placeholder="•••••" required>
                
                <button type="submit" class="btn-primary">ENTRAR</button>
            </form>
            
            <div class="link-area">
                <span>Não tem conta?</span>
                <a href="{{ url_for('cadastro_bio') }}">Cadastre-se aqui</a>
            </div>
        </div>
        <div class="footer">Desenvolvido por Milena Leal • Versão 1.0</div>
    </div>
</body>
</html>